<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClientRegAction</servlet-name>
        <servlet-class>com.upload.ClientRegAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRepository</servlet-name>
        <servlet-class>com.upload.AddRepository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.upload.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReqAction</servlet-name>
        <servlet-class>com.upload.SendReqAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.download.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientRegAction</servlet-name>
        <url-pattern>/ClientRegAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRepository</servlet-name>
        <url-pattern>/AddRepository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReqAction</servlet-name>
        <url-pattern>/SendReqAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
